<h1>Dragon BallZ</h1>
<hr>

<div class="row">
    <div class="col" >
        <app-personajes></app-personajes>
        <!-- <h3>Personajes</h3>
        <hr>
        <ul>
            <li *ngFor="let sayaying of personajes">{{ sayaying.nombre }} - {{ sayaying.poder | number }}</li>
        </ul> -->
    </div>

    <div class="col">
        <app-agregar [nuevo]="defecto" ></app-agregar>
        <!-- <h3>Agrregar<small>{{ nuevo.nombre }}</small></h3>
        <hr>
        <form (ngSubmit)="agregar()"> -->
            <!-- Escucha como emitir el evento, corchetes + parentecis [(ngModel)] es el concepto de [two-way data binding] emite como recibe eventos-->
            <!-- <input type="text"   placeholder="Nombre" [(ngModel)]="nuevo.nombre" name="nombre" /> -->
            <!-- [value]="nuevo.nombre" -->
            <!-- <input type="number" placeholder="Poder"  [(ngModel)]="nuevo.poder" name="poder" /> -->

            <!-- <button type="submit">
                Agregar
            </button>
        </form> -->
    </div>
</div>